---
---

@import "normalize";

// Colors
$primary: #e20049;
$secondary: #f1768d;
$light: #feefe7;
$dark: #180901;

// Type scale
$f1: 3rem;
$f2: 2.25rem;
$f3: 1.5rem;
$f4: 1.25rem;
$f5: 1rem;
$f6: 0.875rem;
$f7: 0.75rem;

// Measure
$measure: 30em;
$measure-wide: 34em;
$measure-narrow: 20em;

// Line height
$lh-solid: 1;
$lh-title: 1.25;
$lh-copy: 1.5;

// Tracking
$tracked: 0.1em;
$tracked-tight: -0.05em;
$tracked-mega: 0.25em;

// Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;
$spacing-xxl: 8rem;
$spacing-xxxl: 16rem;

// Maximum widths
$mw1: 1rem;
$mw2: 2rem;
$mw3: 4rem;
$mw4: 8rem;
$mw5: 16rem;
$mw6: 32rem;
$mw7: 48rem;
$mw8: 64rem;
$mw9: 96rem;

body {
  background-color: $light;
  color: $dark;
}

body > header {
  background-color: $primary;
  border-bottom: $spacing-xs solid darken($primary, 5);

  & > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $spacing-xxxl;
    padding: $spacing-lg 0 $spacing-sm 0;
  }

  & > nav {
    ul {
      padding: $spacing-sm 0 $spacing-sm 0;
      text-align: center;
    }

    li {
      display: inline;
      padding: 0 $spacing-sm 0 $spacing-sm;
    }

    a {
      color: $light;
      font-size: $f7;
      letter-spacing: $tracked;
      padding: $spacing-xs 0 $spacing-xs 0;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover,
    a.active {
      border-bottom: 1px solid $light;
    }
  }
}

body > main {
  padding: $spacing-xl 0 $spacing-md 0;
}

body > footer {
  margin-bottom: $spacing-lg;

  p {
    font-size: $f6;
    text-align: center;
  }
}

h1 {
  font-size: $f2;
  font-weight: normal;
  letter-spacing: $tracked;
  line-height: $lh-title;
  margin: 0 auto 0 auto;
  max-width: $mw7;
  text-transform: uppercase;
}

h2 {
  font-size: $f3;
  font-weight: normal;
  letter-spacing: $tracked;
  line-height: $lh-title;
  margin: 0 auto 0 auto;
  max-width: $mw7;
  text-transform: uppercase;
}

h3 {
  font-size: $f4;
  font-weight: normal;
  letter-spacing: $tracked-tight;
  line-height: $lh-title;
  margin: 0 auto 0 auto;
  max-width: $mw7;
}

p {
  font-size: $f4;
  line-height: $lh-copy;
  margin-left: auto;
  margin-right: auto;
  max-width: $mw7;
}

.post {
  hr {
    border: 0;
    height: 50vh;
    margin: $spacing-lg 0 $spacing-xl 0;
  }

  time {
    font-size: $f6;
  }
}

.posts {
  margin-left: auto;
  margin-right: auto;
  max-width: $mw7;

  ul {
    padding: 0;

    & > :first-child {
      border-top: 1px solid rgba($dark, 0.2);
    }

    & > li {
      border-bottom: 1px solid rgba($dark, 0.2);
      display: inline-block;
      padding-top: $spacing-md;
      padding-bottom: $spacing-md;
    }
  }

  a {
    color: $dark;
    text-decoration: none;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }

  a:hover {
    opacity: 0.6;
  }

  figcaption {
    margin: 0;
    padding: $spacing-xs $spacing-md $spacing-xs $spacing-md;
    width: 70%;
  }

  figure {
    display: flex;
    margin: 0;
    padding: 0;
  }

  img {
    height: 100%;
    width: 30%;
  }

  p {
    font-size: $f6;
  }

  small {
    font-size: $f7;
  }
}
