---
---

@import "normalize";

// Type scale
// ==========
//
// "The simplest scale is a single note, and sticking with a single note
// draws more attention to other parameters, such as rhythm and inflection...
// In the sixteenth century, a series of common sizes developed among
// European typographers, and the series survived with little change and
// few additions for 400 years… This is the typographic equivalent of the
// diatonic scale."
// - Robert Bringhurst, The Elements of Typographic Style
//
// See: <https://tachyons.io/docs/typography/scale/>
$font-size: (
  f1: 3rem,
  f2: 2.25rem,
  f3: 1.5rem,
  f4: 1.25rem,
  f5: 1rem,
  f6: 0.875rem,
  f7: 0.75rem
);

// Leading
// =======
//
// Originally a strip of soft metal used for vertical spacing between lines of
// type. Now meaning the vertical distance from the baseline of one line to
// the baseline of the next. Also called leading.
// See: <https://tachyons.io/docs/typography/line-height/>
$line-height: (
  lh-solid: 1,
  lh-title: 1.25,
  lh-copy: 1.5
);

// Letter spacing
// ==============
//
// Letter-spacing is the consistent white-space between letters in a piece of
// text. In typography, letter-spacing is commonly known as tracking. Text
// that is set to uppercase should be tracked to improve readability.
//
// See: <https://tachyons.io/docs/typography/tracking/>
$letter-spacing: (
  tracked: 0.1em,
  tight: -0.05em,
  mega: 0.25em
);

// Spacing
// =======
//
// Spacing comes in two flavors. Depending on borders and background colors,
// the difference between padding and margin can be invisible to the naked
// eye of the user. But to a developer, they serve different roles. Most
// codebases lack a ratio based scale and instead are littered with values
// that are just magic numbers. This is bad.
//
// See: <https://tachyons.io/docs/layout/spacing/>
$spacing: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 2rem,
  xl: 4rem,
  xxl: 8rem,
  xxxl: 16rem
);

// Widths
// ======
//
// The max-widths module contains both a ten-step scale based on powers of two
// as well as the ability to constrain element widths to a maximum of 100%.
//
// See: <https://tachyons.io/docs/layout/widths/>
$max-widths: (
  1: 1rem,
  2: 2rem,
  3: 4rem,
  4: 8rem,
  5: 16rem,
  6: 32rem,
  7: 48rem,
  8: 64rem,
  9: 96rem
);

// Breakpoints
// ===========
//
$breakpoints: (
  ns: 30em,
  lg: 60em
);

$primary: #e20049;
$primary-light: #f1768d;
$light: #fcd7c3;
$dark: #180901;

body {
  background-color: $light;
  color: $dark;
  font-family: serif;
}

body > header {
  background-color: $primary;
  padding-bottom: map-get($spacing, sm);
  padding-top: map-get($spacing, lg);
  text-align: center;

  img {
    height: map-get($spacing, xxl);
    margin-bottom: map-get($spacing, sm);
    max-width: 100%;
  }

  ul {
    padding-left: 0;

    li {
      display: inline-block;
      padding-left: map-get($spacing, md);
      padding-right: map-get($spacing, md);

      a {
        color: $light;
        font-size: map-get($font-size, f5);
        letter-spacing: map-get($letter-spacing, tracked);
        text-decoration: none;
        text-transform: uppercase;
      }

      a:hover {
        border-bottom: 2px solid $light; // Fallback for IE6, IE7, IE8
        padding-bottom: map-get($spacing, xs);
      }

      .active {
        border-bottom: 2px solid $light; // Fallback for IE6, IE7, IE8
        padding-bottom: map-get($spacing, xs);
      }
    }
  }
}

body > main {
  padding-top: map-get($spacing, xl);
}

body > footer {
  font-size: map-get($font-size, f6);
  padding: map-get($spacing, md);
  text-align: center;
}

h1 {
  font-size: map-get($font-size, f2);
  font-weight: normal;
  letter-spacing: map-get($letter-spacing, tracked);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: map-get($max-widths, 7);
  text-transform: uppercase;
}

h2 {
  font-size: map-get($font-size, f3);
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
}

h3 {
  font-size: map-get($font-size, f4);
  font-weight: normal;
  margin-top: 0;
}

.posts {
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($max-widths, 7);
  padding-left: map-get($spacing, md);
  padding-right: map-get($spacing, md);

  ul {
    border-top: 1px solid $dark;
    border-top: 1px solid rgba($dark, 0.1);
    padding-left: 0;

    li {
      border-bottom: 1px solid $dark;
      border-bottom: 1px solid rgba($dark, 0.1);
      display: block;

      a:hover {
        opacity: 0.5;
        transition: opacity 0.15s ease-in;
      }

      a {
        color: $dark;
        display: block;
        opacity: 1;
        padding-bottom: map-get($spacing, lg);
        padding-top: map-get($spacing, lg);
        text-decoration: none;
        transition: opacity 0.15s ease-in;

        figure {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          margin: 0;

          @media screen and (min-width: map-get($breakpoints, ns)) {
            flex-direction: row;
          }

          img {
            display: block;
            margin: 0;
            margin-bottom: map-get($spacing, lg);
            width: 100%;

            @media screen and (min-width: map-get($breakpoints, ns)) {
              padding-right: map-get($spacing, md);
              margin-bottom: 0;
              width: 40%;
            }
          }

          figcaption {
            width: 100%;

            @media screen and (min-width: map-get($breakpoints, ns)) {
              padding-left: map-get($spacing, md);
              width: 60%;
            }

            p {
              font-size: map-get($font-size, f6);
              line-height: map-get($line-height, lh-copy);

              @media screen and (min-width: map-get($breakpoints, lg)) {
                font-size: map-get($font-size, f5);
              }
            }

            small {
              color: $dark; // Fallback for IE6, IE7, IE8
              color: rgba($dark, 0.6);
              display: block;
              font-size: map-get($font-size, f7);
              line-height: map-get($line-height, lh-copy);
            }
          }
        }
      }
    }
  }
}

.post {
  header {
    margin-left: auto;
    margin-right: auto;
    max-width: map-get($max-widths, 7);
    padding: map-get($spacing, md) map-get($spacing, md) map-get($spacing, xl)
      map-get($spacing, md);
  }

  hr {
    border: none;
    height: 50vh;
    margin-bottom: map-get($spacing, xl);
    width: 100%;
  }

  p {
    font-size: map-get($font-size, f4);
    line-height: map-get($line-height, lh-copy);
    padding-left: map-get($spacing, md);
    padding-right: map-get($spacing, md);
    margin-left: auto;
    margin-right: auto;
    max-width: map-get($max-widths, 7);
  }
}
